body {
  margin:0;
  padding:0;
  background-color: black;
}

header {
  width: 100%;
  background-color: silver;
  display: inline-block;
}

#home-button{
  font-family: Verdana;
  margin-left: 30px;

}
h2 {
  font-size: 25px;
}

.stream-wrapper{
  background-color: grey;
  width: 45%;
  text-align:center;
  border-radius:10px;
  display: inline-block;
  margin-top: 10px;
  margin-left:15px;
}

#user-stream-wrapper {
  float: right;
  width: 45%;
  margin-right:20px;  
}

.stream {
  width:100%;
  background-color:silver;
  float: center;
  text-align: left;
  margin-top: 10px;
  padding-top:10px;

}

.footer {
  background-color:black;
  color:white;
  text-align:center;
  margin-top: 5px;
  padding-top: 0.5px;


}
.boxsize {
  font-family:Arial;
}
.tweet-timestamp {
  color: black;
  font-size: 12px;
}

.tweet-content {
  color: black;
    background-color: cyan;
    padding: 10px;
    position: relative;
    font-style:Arial;
    margin-left: 10px;
}

.load-button {
  width:30%;
  text-align:left;
  border-radius:0;
  margin-bottom:10px;

}
.col1 {
  margin-top: 5px;
  display: inline-block;
}
